img {
  width: 50%;
  display: block;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: white;
}

.testimonial-container {
  max-width: 800px;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.title {
  text-align: center;
  margin-bottom: 2rem;
}

.title h2 {
  text-transform: capitalize;
  font-weight: bold;
  font-size: 1.7rem;
  line-height: 1.1;
}

.slider-container {
  position: relative;
  user-select: none;
  padding-inline: 1rem;
}

.slider-container .quote {
  position: absolute;
  z-index: -1;
}

.slider-container .top-quote {
  position: absolute;
  top: -1rem;
  left: -1rem;
}

.slider-container .bottom-quote {
  position: absolute;
  bottom: -3rem;
  right: -0.5rem;
  transform: rotate(180deg);
}

.slider-container .review-img {
  width: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
  margin-inline: auto;
  margin-top: 1rem;
}

/* Splide customization */
.splide__track {
  border-radius: 1rem;
}

.splide__slide {
  display: flex;
  align-items: center;
  background-color:#95d2b3;
  padding: 3rem 1.875rem;
  border-radius: 1rem;
  gap: 1rem;
}

.slider-container .content .text {
  color: #484646;
  margin-bottom: 1rem;
  font-size: 1.1rem;
}

.slider-container .content .rating {
  display: inline-block;
  line-height: 1;
}

.slider-container .content .star {
  color: aqua;
  font-size: 1.1rem;
}

.slider-container .content .user {
  font-weight: 600;
}

.splide__pagination__page.is-active {
  background-color: aqua;
}

.splide__arrow {
  position: absolute;
  background-color: transparent;
  border: none;
  font-size: 2rem;
  color: #505050;
  font-weight: 300;
}

.splide__arrow--prev {
  top: 50%;
  left: -3.5rem;
}

.splide__arrow--next {
  top: 50%;
  right: -3.5rem;
}

.splide__pagination__page {
  height: 10px;
  width: 10px;
  opacity: 1;
}


@media (max-width: 576px) {
  .splide__slide {
    display: block;
    text-align: center;
  }

  .splide__arrow {
    font-size: 1.5rem;
  }

  .splide__arrow--prev {
    left: 0.5rem;
  }

  .splide__arrow--next {
    right: 0.5rem;
  }

  .slider-container .bottom-quote {
    right: 0;
  }
}
